.form1{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #182E7A;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    

    border-radius: 20px;
    padding: 30px 40px;
   background: transparent ;
   border: 2px solid rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(5px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   

}

 .input-box{
    width: 500px;
    height: 40px;
    border: 2px solid #041a57 ;
    border-radius: 15px;
    box-shadow:7.5px 6px 2px  rgba(0, 0, 0, .5);
    text-align: center;
}

body{
    
    background: url('./form5.jpg')   ;
    
}
.timeline{
    height: max-content;
    background-image: url('../components/pxfuel.jpg')
}
.btn{
    width: 300px;
    height: 45px;
    background: #00144d;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #000000 ;
    color: white;
    box-shadow:7.5px 6px 2px  rgba(0, 0, 0, .5);



}

.btn1{
    width: 40px;
    height: 40px;
    background: #00144d;
    border-radius: 50%;
    box-shadow:5px 1px 2px  rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid #000000 ;
    color: white;
    margin-left: 620px;
    margin-top: 0px;
}

